.fruit-block-zone {
  position: absolute;
  left: 130px; /* x - radius */
  top: 200px;  /* y - radius */
  width: 350px;
  height: 280px;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.2);
  border: 2px dashed rgba(255, 0, 0, 0.5);
  z-index: 4;
  pointer-events: none;
}

.wood-block-zone {
  position: absolute;
  left: 950px;      /* woodTree.x - radius */
  top: 300px;       /* woodTree.y - radius */
  width: 300px;     /* radius * 2 */
  height: 350px;
  border-radius: 50%;
  background-color: rgba(0, 100, 0, 0.2);
  border: 2px dashed rgba(0, 100, 0, 0.5);
  z-index: 4;
  pointer-events: none;
}

.dungeon-block-zone {
  position: absolute;
  left: 1100px;
  top: 0px;
  width: 250px;
  height: 170px;
  border-radius: 50%;
  background-color: rgba(50, 0, 100, 0.2);
  border: 2px dashed rgba(50, 0, 100, 0.5);
  z-index: 4;
  pointer-events: none;
}

