.secret-map {
  position: absolute;
  width: 4616px;
  height: 3464px;
  background-size: 4616px 3464px;
  background-repeat: no-repeat;
  background-position: top left;
}

.island-circle-debug {
  position: absolute;
  border-radius: 50%;
  border: 4px dashed #33fff6;
  background: rgba(51,255,246,0.09);
  z-index: 99;
  pointer-events: none;
}
